@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #2F6E8D;
}

/*Navigation*/
header {

}

header, footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: green;
}

/* Maint Content */
#page-wrapper {
	display: grid;
	height: 100vh;
	grid-template-columns: 2fr 8fr;
    justify-content: center;
    align-items: center;
}

.menu-bar {
	height: 100vh;
	background-color: red;
}

.main-content {
	height: 100vh;
	background-color: blue;
}
